.shead{
    display: flex;
    justify-content: space-between;
}
.head1{
    background: transparent;
}
.labh{
    font-size: 15px;
}
.jiji{
    height: 77%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;

}
.lop14{
    margin-left: -20px;
}