.kod{
display: flex;
align-items: center;
justify-content: left;
text-align: center;
width: 100%;
}
.lab{
    width: 30%;  
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-right: 30px;
    font-size: 14px;
    color: rgb(37, 37, 37);
}
.op{
   width: 70%;
   text-align: left;
   align-items: center;
   justify-content: center;
   margin-top: 00px;
}